.login-form {
  max-width: 300px;
  color: black;
}
.ant-form-item-label label {
  color: black;
  font-weight: bold;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
